.App {
  text-align: center;
  padding-top: 100px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 200px;
  margin-right: 200px;  
}

body{
  background-color: #aedada;
}

button{
  color: #324a86;
}